footer{
    display: grid;
    background-color: $color1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: $width;
    margin: 30px auto 50px auto;
    background: $color1;
    font-size: 0.9rem;
    @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
    }
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-row: 1/5;
    width: $width;
    margin: 80px auto;
    label{
        font-family: $font1;
        text-transform: uppercase;
    }
    input{
        margin: 20px 0;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: none;
    }
    button{
        font-family: $font1;
        border: 1px solid $color3;
        text-transform: uppercase;
        color: $color3;      
    }
}

.infos{
    border-left: 1px solid $color3;
    @media screen and (max-width :900px) {
        border-left: none;
    }
    &:not(:last-child){
        border-bottom:1px solid $color3;
    }
    div{
        display: grid;
        grid-template-columns: 30% 70%;
        padding-top: 50px;
        padding-bottom: 50px;
        
        align-items: center;
        width: $width;
        margin: 0 auto;

        @media screen and (max-width :900px) {
            grid-template-columns: 45% 55%;
        }
    }
        h3{
            text-align: left;
            margin-right: 20px;
            font-size: 1rem;
        }

        ul{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

        p{
            width: 70%;
        }
    }
}

.socialfooter{
    min-width: 25px;
    height: 25px;
    border: 1px solid $color3;
    border-radius: 100%;
    line-height: 25px;
    text-align: center;
    margin-left: 12px;
}

    textarea{
        height: 150px;
        outline: none;
        resize: none;
        margin: 20px 0;

    }
