section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color1;
    margin: 0 auto;
    scroll-behavior: smooth;
    h2{
        text-align: center;
        margin: 0 auto;
        width: 60%;
        color: $color2;
    }
    p{
        text-align: center;
        margin: 0 auto;
        width: 60%;
        font-size: 0.9rem;
        line-height: 250%;
        
    }
}

.general-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: $width;
    @media screen and (max-width:1050px) {
        display: flex;
        flex-direction: column;
    }
}


.top-section{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $width;
    h2{
        font-size: 3rem;
        @media screen and (max-width:850px) {
            font-size: 1.5rem;
        }
    }
    p{
        font-style: italic;
        margin: 50px;
        
    }
    &__img{
        background-image: url('../img/pic01.jpg');
        background-size: cover;
        background-position: center;
        height: 45vw;
        width: 100%;
    }
    button{
        margin: 60px auto 100px auto;
    }
}

.date{
    color: $color2;
    width: 100%;
    margin-top: 80px;
    position: relative;
    text-align: center;
    &::first-letter{
        text-transform: uppercase;
    }
}

.date--top{
    font-size: 1.2rem;
    margin-bottom: 80px;
    &::before, &::after{
        content: "";
        height: 1px;
        background-color: $color3;
        width: 35%;
        position: absolute;
        @media screen and (max-width:850px){
            width: 25%;
        }
        @media screen and (max-width:600px){
            width: 18%;
        }

    }
    &::before{
        left: 0;
        top: 50%
    }
    &::after{
        right: 0;
        top: 50%
    }
}


.section-bottom{
    height: 100%;
    &-left{
        border-right: 1px solid $color3;
        border-top: 1px solid $color3;
    }
    &-right{
        border-top: 1px solid $color3;
        @media screen and (max-width:1050px) {
            border-top: none;
            
        }
    }
    h2{
        margin: 30px auto 30px auto;
        text-align: center;
        width: 35%;
        font-size: 1.2rem;
    }
    p{
        width: $width;
        text-align: left;
        margin: 30px auto;
    }
    button{
        margin-bottom: 80px;
    }
}

.section__img{
    width: $width;
    height: 300px;
    margin: 0 auto;
    &--left{
        background: url('../img/pic02.jpg') center/cover;
    }
    &--right{
        background: url('../img/pic03.jpg') center/cover;
    }
}
